//Form
.error {
    border: 2px solid #f00;
}

.valid {
    border: 2px solid #0ff;
}

//progress-bar

ol {
  
  &.progress-track {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 2em 1em;
    table-layout: fixed;
    width: 100%;    
    
    li {
      display: table-cell;
      line-height: 3em;
      position: relative;
      text-align: center;
      
      .icon-wrap {
        border-radius: 50%;
        top: -1.5em;
        
        color: #fff;
        display: block;
        height: 2.5em;
        margin: 0 auto -2em;
        left: 0;
        right: 0;        
        position: absolute;
        width: 2.5em;
      }
      
      .icon-check-mark, .icon-down-arrow {
        height: 25px;
        width: 15px;
        display: inline-block;
        fill: currentColor;        
      }         
      
      .progress-text {
         position: relative;
         top: 10px;
      }
      
      &.progress-done {
        border-top: 7px solid #87ba51;
        transition: border-color 1s ease-in-out;
        -webkit-transition: border-color 1s ease-in-out;
        -moz-transition: border-color 1s ease-in-out;
        
        .icon-down-arrow {
          display: none;
        }        
        
          &.progress-current {

            .icon-wrap {
              background-color: #fff;

              .icon-check-mark {
               display: none;
              }
              
              .icon-down-arrow {
                display: block;
              }               
            }        
          }                

        .icon-wrap {
          background-color: #4a6a28;
          border: 5px solid #87ba51;     
        }                
      }
      
      &.progress-todo {
          border-top: 7px solid #DDD;
          color: black;        
        
        .icon-wrap {
          background-color: #FFF;
          border: 5px solid #DDD;
          border-radius: 50%;
          bottom: 1.5em;
          color: #fff;
          display: block;
          height: 2.5em;
          margin: 0 auto -2em;
          position: relative;
          width: 2.5em;

          .icon-check-mark, .icon-down-arrow {
              display: none;
          }      
        }        
      }            
    }    
  }
}